body.backgroundImg {
	background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/restaurant_icons.png);
    -webkit-background-size: none;
    -moz-background-size: none;
    -o-background-size: none;
    background-size: none;
}

.page-container {
	max-width:1200px;
	margin:auto;
}

.WelcomeText {
	text-align: center;
	font-size: 40pt;
	font-family: 'Playfair Display', serif;
	font-size: 30pt;
}

.WelcomeParagraph {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 13pt;
}

.MenuText {
	text-align: center;
}

.LeftColumn, .RightColumn {
	text-align: center;
}

.Prices {
	text-align: right;
}



.menuItems h6 {
	display: inline;
	text-align: left;
}

.menuItems p {
    margin-top: -20px;
	text-align: right;
	border-bottom: 1px dotted gray;
	margin-bottom: 20px;
}

.img-responsive {
	width: 100%;
	height: 100px;
}

p.SubText  {
	margin-top: 0px;
	text-align: center;
	border-bottom: none;
	margin-bottom: none;
	font-style: italic;
	color: red;
}

.MenuItemsLi {
	text-decoration: none;
	list-style-type: none;
	text-align: right;
	padding: 0;

}

.MenuItemsLi em {
	font-size: 15px;
	float: left;

}

ul {
	font-size: .9em;
}

li {
	border-bottom: 1px dotted gray;
	margin-bottom: 20px;
}

.LiFloatRight {
	float: right;
}

.LiFloatLeft {
	float: left;
}
.NavBar ul {
	border-bottom: none;
	margin-bottom: 0;
	
}
.nav li{
	border-bottom: none;
	height: 30px;
}


.HourStyle li {
	list-style: none;
	border-bottom: none;
	margin: 10px;
}

.TextSpacing {
	padding: 0;
}

.TextSpacing span {
	float: right;
}


.ITEMS {
	text-align: center;
	margin: 40px;
	font-family: 'Playfair Display', serif;
	font-size: 16pt;
}

.LocationSq { 
  	background-image: url("http://gmancasefile.com/uploads/3/4/3/4/34348806/3116654_orig.jpg");
  	background-size: cover;
  	width: 100%;
	height: 300px;
}

.SquareText {
	color: white;
	padding: 30px;
	font-size: 13pt;
	font-family: 'Merriweather', serif;

}

#map {
	height: 100%;
}


.Yelp-Button {
	height: 40px;
	width: 85px;
}


.rowBackgroundColor {
	margin-left: 1px;
	width: 100%;
	height: 45px;
	background-image: url("http://gmancasefile.com/uploads/3/4/3/4/34348806/3116654_orig.jpg");\
	background-size: cover;
}

#my-slider {
	margin-top: 30px;
	padding: 10px;
}

@media screen and (max-width: 480px) {
		#footer-container {
			display: none;
		}

		body.backgroundImg {
			background-image: none;
		}

        .nomobile {
            display:none;
        }
}

#footer-container {
    width: 100%;
    padding-top: 6px;
    margin-top: 40px;
    background-color: rgba(81,81,81,1);
    height: 150px;
}

.logos-holder {
	width: 45px;
	height: 90px;
	margin: 5px 0 0 5px;
}

.fb-like {
	margin-top: 60px;
    margin-left: 5px;
}

.contact {
	margin-top: -110px;
    margin-left: 500px;
}

.phoneNumber {
	margin-top: 0px;
	margin-left: 500px;
}

.MainPhone {
	margin-left: 10px;
}

.mainEmail {
	margin-left: 10px;
}

.Email {
	margin-top: -30px;
    margin-left: 720px;
}