body {
	background: url(https://zoeyoungerauthor.files.wordpress.com/2015/05/dollarphotoclub_78204101.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page-container {
	max-width:1200px;
	margin:auto;
}

.WelcomeText {
	text-align: center;
	font-size: 40pt;
}

.WelcomeParagraph {
	text-align: center;
	font-size: 13pt;
}

.MenuText {
	text-align: center;
}

.LeftColumn, .RightColumn {
	text-align: center;
}

.Prices {
	text-align: right;
}



.menuItems h6 {
	display: inline;
	text-align: left;
}

.menuItems p {
    margin-top: -20px;
	text-align: right;
	border-bottom: 1px dotted gray;
	margin-bottom: 20px;
}

.img-responsive {
	width: 100%;
	height: 100px;
}

p.SubText  {
	margin-top: 0px;
	text-align: center;
	border-bottom: none;
	margin-bottom: none;
	font-style: italic;
	color: red;
}

.MenuItemsLi {
	text-decoration: none;
	list-style-type: none;
	text-align: right;
	padding: 0;

}

.MenuItemsLi em {
	font-size: 15px;
	float: left;

}

ul {
	font-size: .9em;
}

li {
	border-bottom: 1px dotted gray;
	margin-bottom: 20px;
}

.LiFloatRight {
	float: right;
}

.LiFloatLeft {
	float: left;
}
.NavBar ul {
	border-bottom: none;
	margin-bottom: 0;
	
}
.nav li{
	border-bottom: none;
	height: 30px;
}


.HourStyle li {
	list-style: none;
	border-bottom: none;
	margin: 15px;
}

.TextSpacing {
	padding: 0;
}

.TextSpacing span {
	float: right;
}


.ITEMS {
	text-align: center;
	margin: 40px;
}

.LocationSq { 
  	background:#7f7f7f;
  	background:rgba(255,255,255,0.8);
  	width: 100%;
	height: 300px;
}

.SquareText {
	padding: 10px;
	font-size: 13pt;
}

#map {
	height: 100%;
}

#menu_page {
	width: 80%;
	background-color: rgba(255,255,255,0.7);
	margin: 0 auto;
}

.reviewsSq {
	background:#7f7f7f;
  	background:rgba(255,255,255,0.8);
  	width: 100%;
	height: 300px;
}


.face:hover {
  animation: shake 8s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-20px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(5px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-10px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(6px, 0, 0);
  }
}

.fb-comments, .fb-comments iframe[style], .fb-comments span {
   width: 100% !important;
}